.TotalBudget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
}

.TotalBudget .container {
    display: flex;
    width: 100%;
}

.TotalBudget .totals {
    font-size: 0.7em;
    padding: 10px;
    width: 100%;
}
.total {
    width: 100%;
    padding: 30px;
    border-bottom: 1px solid #eee;
}
.total.negative,
.TotalBudget .totals.expenses {
    color: #eee;
    height: 100%;
    background-color: crimson;
}

.total.positive,
.TotalBudget .totals.incomes {
    color: #eee;
    height: 100%;
    background-color: teal;
}